:root {
  --primary-color: #ebeef1;
  --secondary-color: #ebeef1;
  --box-shadow-color: #0a63a929;
  --text-color-1: #00a037;
  --text-color-2: #ed0000;
  --border-color: #ccc;
  --hover-color: #f0f0f0;
  --active-color: #dcdcdc;
  --transition-speed: 0.3s;
  --border-radius: 10px;
  --padding: 10px 20px;
  --font-size: 1.2rem;
  --font-weight: 600;
  --box-shadow: 5px 5px 15px var(--box-shadow-color), -5px -5px 15px var(--primary-color);
  --box-shadow-inset: inset 5px 5px 15px var(--box-shadow-color), inset -5px -5px 15px var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  font-size: 2rem;
  font-weight: 600;
  padding: 20px;
  width: 350px;
  cursor: pointer;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.accept {
  color: var(--text-color-1);
}

.reject {
  color: var(--text-color-2);
  box-shadow: var(--box-shadow-inset);
}

button:hover {
  background-color: var(--hover-color);
  border: var(--border-color) 2px solid;
}
